<% include header %>

<div class="container">
  <h1><%= title %></h1>
  <table>
    <tbody>
      <%
      posts.forEach(function(post){ %>
        <tr>
        <td>
        <a href="<%= post.id %>"><h3><%= post.title%></h3></a>
        </td>
        </tr>
        <% }); %>
        <tr>
          <td>
            <a href="/new"><h1>+</h1></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <% include footer %>
