<% include header %>
  <div class="container">
      <h1><%= title %></h1>
    <div class="row">
  <form action="/new" method="post" id="new-form">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value=""> <br>
    <input type="submit" name="submit" value="Submit"> <br>
  </form>
  <label for="content">Post</label>
  <textarea form="new-form" name="content" cols="50"> </textarea>
</div>
  </div>
<% include footer %>
