<% include header %>

  <table>
    <tr>
      <h3><%= title %></h3>
    </tr>
    <tr>
      <td>
        <p>
          <%= content %>
        </p>
      </td>
    </tr>
  </table>

<% include footer %>
